<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net452" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net452" />
</packages>