name: .NET

on:
  push:
    branches: [ master, development ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

  pull_request:
    branches: [ master, development ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

  workflow_dispatch:
    branches: [ master, development ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Fetch all history for all tags and branches
      run: |
        git fetch --prune

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1

    - name: Cache Nuget
      uses: actions/cache@v2.1.6
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nugetv1-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nugetv1-

    - name: Build
      working-directory: src
      run: |
        dotnet restore --disable-parallel
        # dotnet build --disable-parallel --configuration Release
        # can't use pure dotnet build because gitversion issues
        msbuild ${{ github.event.repository.name }}.csproj -verbosity:minimal /p:Configuration=Release

        # add check for PR against master from development -> build preRelease to nuget
        # if merged into master -> build Release -> nuget
        # if: github.ref == 'refs/heads/master' || (startsWith(github.ref, 'refs/tags/') && contains(github.ref,'-alpha'))
        #/property:NugetAPIKey=${{ secrets.NugetAPIKey }}
